body{

margin:0;

font-family:Poppins,sans-serif;

background:#f4f4f4;

display:flex;

}

.sidebar{

width:250px;

background:#6C2BD9;

color:white;

height:100vh;

padding:20px;

}

.sidebar ul{

list-style:none;

padding:0;

}

.sidebar li{

padding:15px;

cursor:pointer;

}

.main{

flex:1;

padding:30px;

}

.cards{

display:flex;

gap:20px;

}

.card{

background:white;

padding:25px;

border-radius:10px;

width:250px;

box-shadow:0 5px 20px rgba(0,0,0,.1);

}

.chart{

margin-top:40px;

background:white;

padding:20px;

border-radius:10px;

}